{% extends 'base.html' %}
{% block content %}
<div class="px-8 py-12 bg-white rounded shadow-xl" data-swup-transition>
    <h1 class="text-3xl mb-4">
        Welcome to Flickr Privacy!
    </h1>
    <p class="mb-4">
        This app allows you to easily manage the privacy settings of your Flickr photos.
    </p>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('photos') }}" class="bg-blue-500 text-white px-4 py-2 rounded">View My Photos</a>
        <a href="{{ url_for('albums') }}" class="bg-blue-500 text-white px-4 py-2 rounded">View My Albums</a>
        <a href="{{ url_for('set_album_privacy') }}" class="bg-blue-500 text-white px-4 py-2 rounded">Manage Privacy</a>
        <a href="{{ url_for('set_privacy_metadata') }}" class="bg-blue-500 text-white px-4 py-2 rounded">Set Privacy by Metadata</a>
        <a href="{{ url_for('register') }}" class="text-blue-500">Register</a>

    {% else %}
        <p class="mb-4">Please login to get started.</p>
    {% endif %}
</div>
{% endblock %}
